Django==1.8.7
psycopg2
django-redis
django-extensions>=1.5.9
djangorestframework
pyyaml
django-filter
celery>=3.1.19
django-grappelli
django-pgjson
https://github.com/mher/flower/zipball/master
git+https://github.com/eve-val/evelink
django-registration-redux
django-bootstrap-form
beautifulsoup4
