Django>=1.10,<1.11
psycopg2
django-redis
django-extensions>=1.6.1
djangorestframework>=3.4
pyyaml
django-filter
celery[librabbitmq,eventlet,redis]>=3.1.23
django-grappelli
git+https://github.com/djangonauts/django-pgjson
git+https://github.com/mher/flower
git+https://github.com/eve-val/evelink
beautifulsoup4
pycrest
pyopenssl
markdown
