[database]
host = localhost
dbname = rubicon-1.1
user = sde
# password = sde
# port = 5432

[stationspinner]
log = stationspinner.log

[pricespinner]
log = pricespinner.log
systems = Jita, Dodixie, Rens, Amarr
