from datetime import timedelta

ADMINS = (
    {%- for admin in stationspinner.admins %}
    ('{{ admin.full_name }}', '{{ admin.email }}'),
    {%- endfor %}
)

DEBUG = {{ stationspinner.debug }}

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'stationspinner',
        'USER': '{{ stationspinner.databases.stationspinner.user }}',
        'PASSWORD': '{{ stationspinner.databases.stationspinner.password }}',
        {%- if stationspinner.databases.stationspinner.socket %}
        'HOST': '',
        'PORT': '',
        {%- else %}
        'HOST': '{{ stationspinner.databases.stationspinner.host }}',
        'PORT': '{{ stationspinner.databases.stationspinner.port }}',
        {%- endif %}
    },
    'sde': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2', 
        'NAME': 'sde',
        'USER': '{{ stationspinner.databases.sde.user }}',
        'PASSWORD': '{{ stationspinner.databases.sde.password }}',
        {%- if stationspinner.databases.sde.socket %}
        'HOST': '',
        'PORT': '',
        {%- else %}
        'HOST': '{{ stationspinner.databases.sde.host }}',
        'PORT': '{{ stationspinner.databases.sde.port }}',
        {%- endif %}
    }
}

ALLOWED_HOSTS = [
    {%- for host in stationspinner.allowed_hosts %}
    '{{ host }}',
    {%- endfor %}
]

CACHES = {
    "default": {
        "BACKEND": "redis_cache.cache.RedisCache",
        "LOCATION": "{{ stationspinner.redis.host }}:{{ stationspinner.redis.port }}:{{ stationspinner.redis.cachedb }}",
        "OPTIONS": {
            "CLIENT_CLASS": "redis_cache.client.DefaultClient",
        }
    }
}
BROKER_URL = "redis://{{ stationspinner.redis.host }}:{{ stationspinner.redis.port }}/{{ stationspinner.redis.celerydb }}"
CELERY_RESULT_BACKEND = "redis://{{ stationspinner.redis.host }}:{{ stationspinner.redis.port }}/{{ stationspinner.redis.celerydb }}"
SECRET_KEY = '{{ stationspinner.secret_key }}'
EVEMAIL_SEARCH_LANGUAGES = (
    {%- for language in stationspinner.evemail_search_languages %}
    '{{language}}',
    {%- endfor %}
)
STATIC_ROOT = '{{ stationspinner.static_root }}'
{% if stationspinner.debug %}
STATIC_URL = '/api/static/'
{% else %}
STATIC_URL = '/static/'
{% endif %}

TASK_INTERVALS = {
    'evecentral.update_all_markets': {{ stationspinner.task_intervals.evecentral.update_all_markets }},
    'universe.update_universe': {{ stationspinner.task_intervals.universe.update_universe }}
    'accounting.update_capsuler_keys': {{ stationspinner.task_intervals.accounting.update_capsuler_keys }},
    'accounting.update_all_sheets': {{ stationspinner.task_intervals.accounting.update_all_sheets }},
    'accounting.update_all_apidata': {{ stationspinner.task_intervals.accounting.update_all_apidata }},
}