from datetime import timedelta

ADMINS = (
    {%- for admin in stationspinner.admins %}
    ('{{ admin.full_name }}', '{{ admin.email }}'),
    {%- endfor %}
)

DEBUG = {{ stationspinner.debug }}

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'stationspinner',
        'USER': '{{ stationspinner.databases.stationspinner.user }}',
        'PASSWORD': '{{ stationspinner.databases.stationspinner.password }}',
        {%- if stationspinner.databases.stationspinner.socket %}
        'HOST': '',
        'PORT': '',
        {%- else %}
        'HOST': '{{ stationspinner.databases.stationspinner.host }}',
        'PORT': '{{ stationspinner.databases.stationspinner.port }}',
        {%- endif %}
    },
    'sde': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2', 
        'NAME': 'sde',
        'USER': '{{ stationspinner.databases.sde.user }}',
        'PASSWORD': '{{ stationspinner.databases.sde.password }}',
        {%- if stationspinner.databases.sde.socket %}
        'HOST': '',
        'PORT': '',
        {%- else %}
        'HOST': '{{ stationspinner.databases.sde.host }}',
        'PORT': '{{ stationspinner.databases.sde.port }}',
        {%- endif %}
    }
}

ALLOWED_HOSTS = [
    {%- for host in stationspinner.allowed_hosts %}
    '{{ host }}',
    {%- endfor %}
]



CACHES = {
    "default": {
        "BACKEND": "django_redis.cache.RedisCache",
        "LOCATION": "redis://127.0.0.1:6379/1",
        "OPTIONS": {
            "CLIENT_CLASS": "django_redis.client.DefaultClient",
        }
    }
}



BROKER_URL = "amqp://{{ stationspinner.rabbitmq.user }}:{{ stationspinner.rabbitmq.password }}@{{ stationspinner.rabbitmq.host }}:{{ stationspinner.rabbitmq.port }}/{{ stationspinner.rabbitmq.vhost }}"
CELERY_RESULT_BACKEND = "amqp"
CELERY_TASK_RESULT_EXPIRES = 86400
SECRET_KEY = '{{ stationspinner.secret_key }}'
EVEMAIL_SEARCH_LANGUAGES = (
    {%- for language in stationspinner.evemail_search_languages %}
    '{{language}}',
    {%- endfor %}
)
STATIC_ROOT = '{{ stationspinner.static_root }}'
{% if stationspinner.debug %}
STATIC_URL = '/api/static/'
{% else %}
STATIC_URL = '/static/'
{% endif %}

TASK_INTERVALS = {
    'evecentral.update_all_markets': {{ stationspinner.task_intervals.evecentral.update_all_markets }},
    'universe.update_universe': {{ stationspinner.task_intervals.universe.update_universe }},
    'accounting.update_capsuler_keys': {{ stationspinner.task_intervals.accounting.update_capsuler_keys }},
    'accounting.update_all_sheets': {{ stationspinner.task_intervals.accounting.update_all_sheets }},
    'accounting.update_all_apidata': {{ stationspinner.task_intervals.accounting.update_all_apidata }},
}

MARKET_VALUE_SUPERS = {
    11567:          100000000000, #Avatar
    671:            100000000000, #Erebus
    3764:           100000000000, #Leviathan
    23773:          100000000000, #Ragnarok
    3514:           100000000000, #Revenant
    23913:          20000000000,  #Nyx
    22852:          20000000000,  #Hel
    23917:          20000000000,  #Wyvern
    23919:          20000000000,  #Aeon
}

ACCOUNT_ACTIVATION_DAYS = 3
EMAIL_HOST = '{{ stationspinner.email.smtp_host}}'
EMAIL_PORT = {{ stationspinner.email.smtp_port}}
REGISTRATION_DEFAULT_FROM_EMAIL = '{{ stationspinner.email.from_address}}'
