{% extends 'registration/root.html' %}
{% block content %}
    <div class="page-header">
        <h1>Login</h1>
    </div>
    <div class="row">
        <div class="span4">
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            <form class="form form-horizontal" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn pull-right">Login</button>
                <input type="hidden" name="next" value="/" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
