{% extends 'registration/root.html' %}
{% block content %}
    <div class="page-header">
        <h1>Registration complete</h1>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-3 text-center">
            <p>
                An e-mail containing an activation link has been sent to your address.
                Follow that URL within seven days to activate your account.
            </p>
            <a href="/#/tour" class="btn btn-default">Okay, show me shiny screenshots meanwhile</a>
        </div>
    </div>

</div>
{% endblock %}
